
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.container-hero{
    height: 90vh;
}

.child-container{
    width: 40%;
    text-align: left;
}

.tittle-hero{
    font-size: 5em;
    font-weight: 600;
    line-height: 1.2em;
    color: #575757
}

.subtittle-hero{
    font-size: 1.5em;
    line-height: 1.2em;
    color: #575757
}

/*SEPARATE*/

.container-separate{
    height: 300px;
    background-color: #2CDDCF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tittle-separate{
    margin: 0;
    font-size: 1.3em;
    line-height: 1.2em;
    color: #575757

}

/*AUGMENTED REALITY*/
.flex-row-augmented{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.tittle-augmented{
    margin: 0;
    font-size: 3em;
    font-weight: 600;
    line-height: 1.2em;
    text-shadow: 2px 2px rgb(51 51 51 / 21%);
}
.container-augmented-izq{
    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-augmented-der{
    width: 50%;
    height: 500px;
}
.container-augmented-izq-2{
    width: 50%;
    height: 800px;
    margin-top: -150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-augmented{
    object-fit: cover;
}
.container-augmented-der-2{
    width: 50%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*VIRTUAL REALITY*/
.container-virtual{
    background-color: #2cddcf;
}
.container-gallery{
    width: 100%;
    background-color: #2cddcf;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.child-container-gallery{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 60px;
}
.child-container-img{
    width: 25%;
}
.tam-img-gallery{
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 54px 55px rgb(0 0 0 / 25%), 0 -12px 30px rgb(0 0 0 / 12%), 0 4px 6px rgb(0 0 0 / 12%), 0 12px 13px rgb(0 0 0 / 17%), 0 -3px 5px rgb(0 0 0 / 9%);
}






