
/*FORMULARIO*/
/*FORMULARIO*/
.contColForm{
    background-color: rgb(180, 180, 180);
}

.contForm{
    margin: auto;
    height: 92vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnEnviar{
    width: 92%;
}